<header class="d-flex justify-content-center align-items-center">
  <nav class="col-9"></nav>
</header>
<section class="sec1 d-flex justify-content-around align-items-center">
  <div class= "cuadro col-4"></div>
  <div class= "cuadro col-4"></div>
</section>
<section class="sec2 d-flex justify-content-around align-items-center">
  <div class="cuadro col-3"></div>
  <div class= "cuadro col-3"></div>
  <div class= "cuadro col-3"></div>
</section>
<footer></footer>