header{
    height: 250px;
    background-color: rgba(235, 184, 55, 0.986);
}
nav{
    height: 190px;
    background-color: blue;
    border: solid 0.5px rgba(0, 0, 0, 0.582);
}
section{
    height: 250px;
}
.sec1{
    background-color: green;
}
.sec2{
    background-color: greenyellow;
}
footer{
    height: 200px;
    background-color: rgba(255, 0, 0, 0.87);
}
.cuadro{
    height: 180px;
    background-color: rgba(141, 138, 136, 0.884);
    border: solid 0.5px rgba(0, 0, 0, 0.582);
}
